.navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-top: 3px solid;
    border-top-color: #383737;
}

.navbar .navbar-brand img {
    max-width: 100px;
}

.navbar .navbar-nav .nav-link {
    color: #000;
}

@media screen and (min-width: 1024px) {
    .navbar {
        letter-spacing: 0.1em;
    }
    .navbar .navbar-nav .nav-link {
        padding: 0.5em 1em;
    }
    .search-and-icons {
        width: 60%;
    }
    .search-and-icons form {
        flex: 1;
    }
}

@media screen and (min-width: 768px) {
    .navbar .navbar-brand img {
        max-width: 7em;
    }
    .navbar .navbar-collapse {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    .search-and-icons {
        display: flex;
        align-items: center;
    }
}

.search-and-icons form input {
    border-radius: 15px;
    height: 2em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.search-and-icons form input:focus {
    background: #fff;
    box-shadow: none;
}

.search-and-icons .user-icons div {
    padding-right: 1em;
}

.contact-info p,
.contact-info a {
    font-size: 0.9em;
    padding-right: 1em;
    color: grey;
}

.contact-info a {
    padding-right: 0;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fffefe;
    background-color: #3e3b3b;
    padding: 8px;
    border-radius: 50%;
}

.navbar-brand {
    font-size: 1.4em;
}

.navbar-dark .navbar-nav a.nav-link {
    color: #ffffff;
    font-size: 1.1em;
}

.hide {
    display: none;
}


/* drop-down-menu 1*/

.dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 0;
    padding: 0.7em;
    /* right: 0; */
    pointer-events: none;
}

@media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
    .dropdown-menu.show {
        display: flex;
    }
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu li .dropdown-item {
    color: gray;
    font-size: 1em;
    padding: 0.5em 1em;
}

.dropdown-menu li .dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #516beb;
}

.dropdown-menu li:first-child a:hover {
    background-color: #f1f1f1;
}

@media only screen and (max-width: 992px) {
    .dropdown-menu.show {
        flex-wrap: wrap;
        max-height: 350px;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
    .dropdown:hover .dropdown-menu {
        width: 40vw;
        flex-wrap: wrap;
    }
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu li a {
    color: gray;
    padding: 0.5em 1em;
}

.dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.1em;
    color: #516beb;
}

@media screen and (min-width: 993px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
    .dropdown-menu.show {
        display: flex;
    }
}

@media screen and (max-width: 992px) {
    .dropdown-menu.show {
        max-height: 60vh;
        overflow-y: scroll;
    }
}


/* main-carousel */

.carousel.main-slide {
    position: relative;
    margin-top: 120px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 100% 100%;
    background-color: #999292;
    border-radius: 50%;
}


/* main-carouselend */


/************ owl-carousel ************ */

#demos .owl-carousel .item {
    height: auto!important;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 800;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: #000;
    border: none;
    padding: 0!important;
    font: inherit;
    background-color: #000!important;
    background-color: #fff!important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.owl-prev,
.owl-next {
    position: absolute;
    transition: 0.5s;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
    background-color: #000;
    width: 30px;
}

.owl-prev {
    left: 15px;
}

.owl-next {
    right: 15px;
}

.owl-prev:hover,
.owl-next:hover {
    background: transparent !important;
    opacity: 0.9;
}


/*************  owl-carousel ************ */

.footer-sec {
    background-color: #2c4152;
    color: #fff
}

@media screen and (min-device-width: 320px) and (max-device-width:500px) {
    .carousel.main-slide {
        margin-top: 77px;
    }
}