body {
    background-color: #f9f9f9;
}

.product-section {
    margin-top: 150px;
}

.col-md-4 {
    margin-bottom: 20px;
}

.product-card {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    text-align: center;
    line-height: 13px;
    padding: 6px;
}

.product-card p {
    margin-bottom: 10px;
    font-size: 14px;
}

.product-card h6 {
    color: #dda325;
}

.product-top>div>span {
    font-weight: 700;
    color: #936603;
}

.product-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #f1f0f0;
    margin-bottom: 20px;
    border: 1px solid;
    border-top-color: #c3c3c3;
    border-bottom-color: #c3c3c3;
    border-right: 0;
    border-left: 0;
}

.product-top>div>span {
    font-weight: 700;
}

.cartBTn {
    border-radius: 0;
    background-color: #e7a745;
    border: 0;
    color: #fff;
    font-weight: 600;
    margin: 0 2px;
}

.cartBTn:hover,
.cartBTn:active {
    border-radius: 0;
    background-color: #d39539;
    border: 0;
    color: #fff;
    font-weight: 600;
}

.priceInput {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.priceInput input {
    width: 47%;
}

#filter-btn {
    border: 0;
    background-color: #df992e;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

#brandfilter {
    width: 100%;
    padding: 5px;
}

@media screen and (min-device-width: 320px) and (max-device-width:500px) {
    /* STYLES HERE */
    .product-top {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        flex-direction: column;
    }
    .cartBTn {
        padding: 2px;
        font-size: 9px;
    }
    .product-card p {
        margin-bottom: 10px;
        font-size: 10px;
    }
}